:root {
  --primary: rgb(232, 210, 174, 0.5);
  --secondary: #0c1b33;
  --tertiary: #eb3e3e;
  --quaternary: #640d14;
  --quinary: #247ba0;
}

a {
  text-decoration: none;
  color: var(--secondary);
  font-family: 'Space Grotesk', sans-serif;
}

body{
  margin: 0;
}

footer{
  padding: 40px 15px 32px;
}

footer h4{
  color: var(--secondary);
  margin-top: 56px;
  font-size: 18px;
  margin-block-end: 14px;
}
footer p, footer a{
  font-size: 12px;
}

form{
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: -0.8px;
  max-width: 75vw;
  z-index: 2;
  position: relative;
}

h2{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.64px;
  color: var(--secondary);
}

h3{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: var(--secondary);
}

h4{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: white;
  margin-block-start: 0;
}


header {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  margin: 0;
  height: 88px;
}

hr{
  width: 100%;
  background-color: var(--secondary);
  opacity: 0.1;
  margin: 30px 0 0 0;
  height: 1px;
}

input {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid rgb(12, 27, 51, 0.2);
  padding: 20px 20px 10px 0;
}

input[type=checkbox]:checked {
content: "\2713";
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
font-size: 15px;
color: #eb3e3e;
text-align: center;
line-height: 15px;
}

input[type=text], input[type=button] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}

input:focus, textarea:focus, select:focus{
        outline: none;
}

label{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.2px;
}

li{
    font-family: 'Space Grotesk', sans-serif;
}

nav {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  height: 88px;
}

nav>ul{
  display: none;
}

option{
  max-width: 200px;
}

p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: var(--secondary);
  line-height: 22px;
}

section{
  padding: 0 15px;
  position: relative;
}

select{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(12, 27, 51, 0.2);
  background-color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  padding-bottom: 16px;
  margin-bottom: 25px;
  letter-spacing: 1.2px;
}

textarea {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid rgb(12, 27, 51, 0.2);
  padding: 20px 20px 10px 0;
}

textarea[type=text], input[type=button] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}

textarea:focus, textarea:focus, select:focus{
        outline: none;
}

ul {
  list-style-type: none;
}

.active{
  opacity: 1 !important;
}

.breadcrumb{
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-bottom: 32px;
}
.breadcrumb li {
  text-transform: uppercase;
  font-weight: 600;
}

.breadcrumb a{
  opacity: 0.6;
}

.btn-main{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    padding: 15px ;
    background-color: var(--tertiary);
    border-radius: 60px;
    color: white;
    margin: 32px 0 10px;
    display: flex;
    justify-content: center;
    width: 80vw;
    transition: 0.3s;
    border: none;
}
.btn-main:hover{
  background-color: var(--quaternary);
}

.btn-tan{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  padding: 15px;
  border-radius: 60px;
  color: var(--quaternary);
  margin: 0 0 10px;
  border: solid 1px #640D14;
  display: flex;
  justify-content: center;
  width: 80vw;
  transition: 0.3s;
}
.btn-tan:hover{
  background-color: white;
}

.btn-white{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 15px ;
    background-color: white;
    border-radius: 60px;
    color: var(--secondary);
    margin: 32px 0 48px;
    display: flex;
    justify-content: center;
    width: 235px;
    transition: 0.3s;
}

.btn-footer{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    border: 1px solid #640d14;
    font-size: 12px;
    padding: 15px ;
    background-color: white;
    border-radius: 60px;
    color: var(--quaternary);
    margin: 32px 0 48px;
    display: flex;
    justify-content: center;
    width: 235px;
    transition: 0.3s;
}

.bullet{
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: var(--quaternary);
  position: relative;
  top: 8px;
  margin-right: 10px;
}

.cart{
  margin: 27px 15px 0 0;
  height: 32px;
  width: 32px;
}

.checkbox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkbox input{
  margin-right: 8px;
  position: relative;
  top: -2px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
}


.cta{
  padding: 15px;
  background-color: var(--quaternary);
}
.cta-text>h3, .cta-text>p{
  color: white;
}
.cta-text>p{
  opacity: 0.8;
}

.face{
  width: 72px;
  height: 60px;
  margin: 40px 0 5px;
}

.current{
  margin: 0 0 0 5px;
}

.footer-link{
  border-bottom: solid 2px #640d14;
  padding-bottom: 4px;
  margin: 10px 0;
  color: var(--quaternary);
  font-weight: 600;
}

.heading{
  position: relative;
}
.heading-accent{
  width: 34px;
  height: 47px;
  background-color: var(--primary);
  position: absolute;
  top: -1px;
  left: 115px;
  z-index: -1
}

.hero {
  background-color: var(--primary);
  margin: 0;
  padding: 0 0 40px;
}

.hero-accent{
  width: 61px;
  height: 285px;

  background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  position: absolute;
  left: 65vw;
  top: 0;
}

.hero-bg{
  background-image: url(/images/hero-bg.png);
  height: 285px;
  width: 65vw;
  background-position: center;
  background-size: cover;
}

.hero-img{
  height: 167px;
  position: relative;
  top: 76px;
  right: -140px;
  z-index: 2;
}

.hero-text{
  margin: 0 15px;
}

.img-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-auto-columns: 120px;
}

.img-section>img{
  width: 100%;
}

.js-dot{
  height: 12px;
  width: 12px;
  background-color: white;
  margin: 0 8px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  opacity: 0.5;
}

#js-slider-dots{
  display: flex;
  justify-content: center;
  margin: auto;
  height: 25px;
}

.line1{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 30px 0 0 25px;
}

.line1clicked{
  transform:rotate(45deg);
  top: 10px;
}

.line2{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 8px 0 0 25px;
}

.line3clicked{
  display: none;
}

.line3{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 8px 0 0 25px;
}
.line2clicked{
  transform: rotate(135deg);
  top: 10px;
  margin-top: 0px
}

.logo {
  margin: 20px;
}
.logo>img{
  height: 61px;
}

.main-btn{
  color: var(--primary);
  background-color: var(--tertiary);
  border-radius: 8px;
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
  text-decoration: none;
}

.menu > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
  color: var(--tertiary);
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
}

.menu > ul {
  display: flex;

}

.menu-item {
  color: var(--tertiary);
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
}

.mobile-menu{
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100px;
  display: none;
  z-index: 10;
}

.mobile-menu>ul{
  list-style-type: none;
  margin-top: 25vh;
}
.mobile-menu>ul>li{
  margin: 25px ;
  font-size: 14px;
}

.m-menu{
  text-decoration: none;
  margin: 48px auto;
  width: 230px;
  font-size: 24px;
}

.options{
  overflow: auto;
}

.options>div{
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
}
.options a{
  min-width: 150px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--quaternary);
}

.p-accent{
  height: 47px;
  width: 34px;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 85px;
  left: 170px;
}

.p-cat{
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.p-cat-image{
  position: relative;
}
.p-cat-image>img{
  width: 128px;
  margin-top: 20px;
}
.p-cat-image>div{
  width: 88px;
  height: 128px;
  background-color: #f2f2f2;
  position: absolute;
  left: 25px;
  bottom: 0;
  z-index: -1;
}

.p-cat-text{
  margin-top: 12px;
}
.p-cat-text>p, .p-cat-text>h3{
  margin-block-start: 15px;
  margin-block-end: 0;
  margin-left: 16px;
}

.products{
  padding: 40px 15px;
}

.prod-accent{
  height: 50px;
  width: 40px;
  background-color: #e8d2ae;
  position: relative;
  left: -15px
}

.prod-cat{
  position: relative;
  margin-bottom: 40px;
}

.prod-cat .btn-main{
  width: 158px;
}

.prod-image>div{
  width: 100%;
  height: 120px;
  z-index: -1;
  position: absolute;
  top: 132px;
  background-color: #f2f2f2;
}

.prod-image>img{
  width: 74%;
  margin: 0 13%;
}

.prod-hero{
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, rgb(232, 210, 174, 0.5), rgba(232, 210, 174, 0.4), rgba(232, 210, 174, 0.3), rgba(232, 210, 174, 0.2), rgba(232, 210, 174, 0.1), rgba(232, 210, 174, 0));
}

.prod-hero h1{
  margin-block-end: 10px;
}

.product-image img{
  width: 100%
}

.product-options{
  margin-top: 30px;
}

.profile{
  height: 64px;
  width: 64px;
  border-radius: 50%;
}


.quotes{
  width: 72px;
  height: 56px;
  margin: 25px 0 10px;
}

.snipcart-items-count{
  position: absolute;
  top: 15px;
  right: 30px;
}

.reviews{
  background-color: var(--quinary);
  padding: 15px;
}

.reviews>h3, .rev-text>p{
  color: white;
}

.rev-text>p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.rev-text{
  margin-left: 16px;
}

.review{
  display: flex;
  min-width: 93vw;
  scroll-snap-align: start;
  height: 215px;
  margin-right: 35px;
}

.review-parent{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.sandwiches img{
  width: 100%;
}

.sandwiches .btn-main{
  width: 149px;
  margin-bottom: 60px;
}

.sandw-do>img{
  width: 70%;
  margin: 30px 15% 0;
}

.sandw-do .btn-footer{
  width: 160px;
}

.sw-opt-item{
  display: flex;
  margin-bottom: 10px;
}
.sw-opt-item p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.sw-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.star{
  height: 24px;
  width: 24px;
  margin: 8px 0;
}
