:root {
  --primary: rgb(232, 210, 174, 0.5);
  --secondary: #0c1b33;
  --tertiary: #eb3e3e;
  --quaternary: #640d14;
  --quinary: #247ba0;
}

a {
  text-decoration: none;
}

body{
  margin: 0;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: -0.8px;
  max-width: 75vw;
}

header {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  margin: 0;
}


nav {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  height: 88px;
}

nav>ul{
  display: none;
}

p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: var(--secondary);
  line-height: 22px;
}

.btn-main{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    padding: 15px ;
    background-color: var(--tertiary);
    border-radius: 60px;
    color: white;
    margin: 32px 0 10px;
    display: flex;
    justify-content: center;
    width: 80vw;
    transition: 0.3s;
}
.btn-main:hover{
  background-color: white;
  color: #640d14;
}

.btn-tan{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  padding: 15px;
  border-radius: 60px;
  color: var(--quaternary);
  margin: 0 0 10px;
  border: solid 1px #640D14;
  display: flex;
  justify-content: center;
  width: 80vw;
  transition: 0.3s;
}
.btn-tan:hover{
  background-color: white;
}

.cart{
  margin: 27px 15px 0 0;
  height: 32px;
  width: 32px;
}

.hero {
  background-color: var(--primary);
  margin: 0;
}

.hero-accent{
  width: 61px;
  height: 285px;

  background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  position: absolute;
  left: 65vw;
  top: 0;
}

.hero-bg{
  background-image: url(/images/hero-bg.png);
  height: 285px;
  width: 65vw;
  background-position: center;
  background-size: cover;
}

.hero-img{
  height: 167px;
  position: relative;
  top: 76px;
  right: -140px;
  z-index: 2;
}

.hero-text{
  margin: 0 15px;
}

.line1{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 30px 0 0 25px;
}

.line1clicked{
  transform:rotate(45deg);
  top: 10px;
}

.line2{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 8px 0 0 25px;
}

.line3clicked{
  display: none;
}

.line3{
  width: 32px;
  height: 2px;
  background-color: var(--secondary);
  margin: 8px 0 0 25px;
}
.line2clicked{
  transform: rotate(135deg);
  top: 10px;
  margin-top: 0px
}

.logo {
  margin: 20px;
}
.logo>img{
  height: 61px;
}

.main-btn{
  color: var(--primary);
  background-color: var(--tertiary);
  border-radius: 8px;
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
  text-decoration: none;
}

.menu > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
  color: var(--tertiary);
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
}

.menu > ul {
  display: flex;

}

.menu-item {
  color: var(--tertiary);
  font-family: 'Rubik', sans-serif;
  padding: 15px 20px;
}

.mobile-menu{
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100px;
  display: none;
  z-index: 10;
}

.mobile-menu>ul{
  list-style-type: none;
  margin-top: 25vh;
}
.mobile-menu>ul>li{
  margin: 25px ;
  font-size: 14px;
}

.m-menu{
  text-decoration: none;
  margin: 48px auto;
  width: 230px;
  font-size: 24px;
}
