<footer>
  <div class="">
    <a href="/" class="logo"><img src="/images/Logo@2x.png" alt="Heritage Bake Shoppe Logo"></a>
    <h4 style='margin-top: 24px;'>Set Your Taste Buds Tingling</h4>
    <p>Baked goods, deli items, fresh sandwiches, and much more</p>
    <a href="/products/" class="footer-link">EXPLORE OUR PRODUCTS</a>
    <br>
    <br>
    <a href="#" class="footer-link snipcart-customer-signin">SIGN IN TO YOUR ACCOUNT</a>
  </div>
  <div class="">
    <h4>ADDRESS</h4>
    <p>Heritage Bake Shoppe <br>126 AR 230 <br>Strawberry, AR 72469</p>
    <a href="https://goo.gl/maps/1hjHJcQFCkDoEH2f6" target="_blank" class="footer-link">SHOW ON MAP</a>
    <h4>CONTACT US</h4>
    <a href="tel:8705285200">870-528-5200</a> <br> <br>
    <a href="mailto:jason@heritagebakeshoppe.com">jason@heritagebakeshoppe.com</a>
  </div>
  <div class="contact-us" id="contact">
    <h4>CONTACT US</h4>
    <form class="" id="form" name="contact us" action="/form-response/" method="post" data-netlify="true">
      <input type="Name" name="name" value="" placeholder="NAME" required>
      <input type="Email" name="email" value="" placeholder="EMAIL" required>
      <input type="tel" name="phone" value="" placeholder="PHONE">
      <textarea class="message" type="text" name="Message" rows="1" cols="80" value="" placeholder="MESSAGE" required></textarea>
      <button type="submit" value="Submit" class="btn-footer">SEND MESSAGE ></button>
    </form>
  </div>
  <p>© 2021 Heritage Bake Shoppe. All rights reserved</p>
  <p>Website by <a href="https://www.scriptworks.net" target="_blank">Scriptworks Web Dev</a></p>
  <p><a href="/privacy-policy">Privacy Policy</a> </p>

</footer>
<div class="privacy hide" id='privacy' >
  <p>By continuing to use this site, you are agreeing to accept our <a href="/terms-and-conditions">Terms and Conditions</a> and <a href="/privacy-policy">Privacy Policy</a></p>
  <button type="button" name="button" class="btn-tan" onclick="accept()">OK</button>
</div>
<script async src="https://cdn.snipcart.com/themes/v3.0.29/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="MjNlNjJmMGQtMDI4ZC00NTkxLWEwMzEtMjQxODczZDZkOGRlNjM3NDMyNDE2NTE2MTY4NzY4" data-config-modal-style="side">
  <address-fields section="top">
    <div class="">
      <snipcart-label for="phone">
        Phone Number
      </snipcart-label>
      <snipcart-input name="phone">

      </snipcart-input>
    </div>
  </address-fields>
</div>
<script type="text/javascript" src="/js/index.js"></script>
